<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>춘천, 놀자!</title>
    <link rel="stylesheet" href="../../../public/style/market.css">
    <link rel="stylesheet" href="../../../public/style/marketHeader.css">
    <link rel="stylesheet" href="../../../public/style/nav.css">
    <link rel="stylesheet" href="../../../public/style/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../../public/img/header_img.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>


    <div id='main_img'></div>

    <header>
        <a id="title" href="../../components/index.html">
            <img id='title_img' src="../../../public/img/header_img.png" alt="">
            <div id="title_name">쇼핑, 춘천!</div>
        </a>
        
        <ul id="nav">
            <li class="nav_li">
                <a href="./introduce.html">춘천 소개</a>
            </li>
            <li class="nav_li">                
                <a href="./place.html">재래시장 소개</a>
            </li>
            <li class="nav_li">
                <a href="./rec.html">시장 AI추천</a>
            </li>
            
            
        </ul>
        
        <div class="header">
            <div class="menu_btn">
                <a href="#">
                    <img id="menu_img" src="../../../public/img/header_img.png">
                </a>
            </div>
        </div>
        <div class="menu_bg"></div>
        <div class="sidebar_menu">
            <div class="close_btn">
                <a href="#">
                    <img id="cancel" src="../../../public/img/cancel.png">
                </a>
            </div>
            <ul class="menu_wrap">
                <a href="./introduce.jsp"><li id="menu_first">웹페이지 소개</li></a>
                <a href="./place.jsp"><li id="menu_second">관광지 소개</li></a>
                <a href="./question.jsp"><li>자유 게시판</li></a>
                
	            <a href="./login.jsp"><li>로그인</li></a>
	            
	            <a href="./logout.jsp"><li id="menu_third">로그아웃</li></a>
	            
            </ul>
        </div>

        
    
    </body>
    <script src="../../../public/js/index_header.js"></script>
    </html>