<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑, 춘천!</title>
    <link rel="stylesheet" href="/style/rec.css">
    <link rel="stylesheet" href="/style/recHeader.css">
    <link rel="stylesheet" href="/style/intronav.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/header_img.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>


    
    
    <div id='main_img'></div>

    <header>
        <a id="title" href="/">
            <img id='title_img' src="/img/header_img.png" alt="">
            <div id="title_name">쇼핑, 춘천!</div>
        </a>
        
        <ul id="nav">
            <li class="nav_li">                
                <a href="/intro">재래시장 소개</a>
            </li>
            <li class="nav_li">
                <a href="/rec">시장 AI추천</a>
            </li>
            
            
        </ul>
        
        <div class="header">
            <div class="menu_btn">
                <a href="#">
                    <img id="menu_img" src="/img/header_img.png">
                </a>
            </div>
        </div>
        <div class="menu_bg"></div>
        
            
    </header>
    
    <nav>
        <div id="plus_wrap">
            <a id="plus_content" href="/intro">재래시장 소개</a><span id="plus_content">></span><a id="plus_content" href="/">Main</a>
        </div>
    </nav>

    <article style="margin-top: 40px;">
        <div id="article_title">
            재래시장 소개
        </div>
        <div id='first_art' class="article">
            <a class="art_wrap" href="/market/0">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/first.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천남부시장</div>
            </a>

            <a class="art_wrap" href="/market/1">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/second.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천동부시장</div>
            </a>
            
            <a class="art_wrap" href="/market/2">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/third.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천서부시장</div>
            </a>
            
        </div>
        <div id='first_art' class="article">
        	<a class="art_wrap" href="/market/3">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/four.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천번개시장</div>
            </a>
            
            <a class="art_wrap" href="/market/4">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/five.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천종합시장</div>
            </a>
            
            <a class="art_wrap" href="/market/5">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/six.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천풍물시장</div>
            </a>
        </div>
        <div id='first_art' class="article">
        	<a class="art_wrap" href="/market/6">
                <div class="art_img_wrap">
                    <img class='art_img' src="/img/seven.jpg" alt="이미지">
                </div>
                <div class="art_name">춘천중앙시장</div>
            </a>
    </article>
    
    <footer>
        <div id="footer_content">
            <p id="footer_title">INFORMATION</p>
            <div id="footer_in_wrap">
                <div id="footer_in">
                    Developer : Kim Do Hyun<br>
                    E-mail : rlaehgusqp@naver.com<br>
                    GitHub : <a href="https://github.com/doggang">https://github.com/doggang</a><br> 
                    Position - FrontEnd
                </div>
                <div id="footer_in">
                    Developer : Park Ju Young<br>
                    E-mail : okmlnsunok@naver.com<br>
                    GitHub : <a href="https://github.com/mythpoy">https://github.com/mythpoy</a><br> 
                    Position - BackEnd
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="/js/index_header.js"></script>
</html>