<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑, 춘천!</title>
    <link rel="stylesheet" href="/style/rec.css">
    <link rel="stylesheet" href="/style/recHeader.css">
    <link rel="stylesheet" href="/style/recnav.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/header_img.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>

    <div id='main_img'></div>

    <header>
        <a id="title" href="/">
            <img id='title_img' src="/img/header_img.png" alt="">
            <div id="title_name">쇼핑, 춘천!</div>
        </a>
        
        <ul id="nav">
            <li class="nav_li">                
                <a href="/intro">재래시장 소개</a>
            </li>
            <li class="nav_li">
                <a href="/rec">시장 AI 추천</a>
            </li>
        </ul>
        
    </header>

    <nav>
        <div id="plus_wrap">
            <a id="plus_content" href="#">시장 AI 추천</a><span id="plus_content">></span><a id="plus_content" href="/">Main</a>
        </div>
    </nav>

    <article>
        <div id="recArticle">
            <p id="recTitle">시장 AI 추천</p>
            <p id="algorithm_title">상품권을 사용할 수 있나요?</p>
            <div id="algorithm_content">
                <div id="yesBtn" onclick="yes()">네!</div>
                <div id="noBtn" onclick="no()">아니요!</div>
            </div>
        </div>
    </article>
    
    <footer>
        <div id="footer_content">
            <p id="footer_title">INFORMATION</p>
            <div id="footer_in_wrap">
                <div id="footer_in">
                    Developer : Kim Do Hyun<br>
                    E-mail : rlaehgusqp@naver.com<br>
                    GitHub : <a href="https://github.com/doggang">https://github.com/doggang</a><br> 
                    Position - FrontEnd
                </div>
                <div id="footer_in">
                    Developer : Park Ju Young<br>
                    E-mail : okmlnsunok@naver.com<br>
                    GitHub : <a href="https://github.com/mythpoy">https://github.com/mythpoy</a><br> 
                    Position - BackEnd
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="/js/index_header.js"></script>
<script>
    var count=0;
    var parkScore=0;
    var toiletScore=0;
    var scaleScore=0;
    var newScore=0;

    var pageNum=0;
    
    function yes(){
        if(count==0){
            document.getElementById("algorithm_title").innerHTML = "주차장이 있나요?";
            count++;
            parkScore++;
        }else if(count==1){
            document.getElementById("algorithm_title").innerHTML = "공중화장실이 있나요?";
            count++;
            toiletScore++;
        }else if(count==2){
            document.getElementById("algorithm_title").innerHTML = "규모가 큰가요?";
            count++;
            scaleScore++;
        }else if(count==3){
            document.getElementById("algorithm_title").innerHTML = "생긴지 얼마 안되었나요?";
            count++;
            newScore++;
        }else if(count==4){
            document.getElementById("algorithm_title").innerHTML = "추천해드릴게요!";
            count++;   
        }
            else if(count==5){
            console.log(count);
            console.log("parkScore" + parkScore);
            console.log("toiletScore" + toiletScore);
            console.log("scaleScore" + scaleScore);
            console.log("newScore" + newScore);

            if(parkScore==0 && toiletScore==0 && scaleScore==0 &&newScore==0){
                location.href="/market/6";
            }
            else if(parkScore==1 && toiletScore==0 && scaleScore==0 &&newScore==0){
                location.href="/market/6";
            }
            else if(parkScore==0 && toiletScore==1 && scaleScore==0 &&newScore==0){
                location.href="/market/6";
            }
            else if(parkScore==0 && toiletScore==0 && scaleScore==1 &&newScore==0){
                location.href="/market/2";
            }
            else  if(parkScore==0 && toiletScore==0 && scaleScore==0 &&newScore==1){
                location.href="/market/3";
            }
            else if(parkScore==1 && toiletScore==1 && scaleScore==0 &&newScore==0){
                location.href="/market/5";
            }
            else if(parkScore==1 && toiletScore==0 && scaleScore==1 &&newScore==0){
                location.href="/market/4";
            }
            else if(parkScore==1 && toiletScore==0 && scaleScore==0 &&newScore==1){
                location.href="/market/3";
            }
            else if(parkScore==0 && toiletScore==1 && scaleScore==1 &&newScore==0){
                location.href="./market/2";
            }
            else if(parkScore==0 && toiletScore==1 && scaleScore==0 &&newScore==1){
                location.href="/market/3";
            }
            else if(parkScore==0 && toiletScore==0 && scaleScore==1 &&newScore==1){
                location.href="/market/5";
            }
            else if(parkScore==1 && toiletScore==1 && scaleScore==1 &&newScore==0){
                location.href="/market/1";
            }
            else if(parkScore==1 && toiletScore==1 && scaleScore==0 &&newScore==1){
                location.href="/market/3";
            }
            else if(parkScore==1 && toiletScore==0 && scaleScore==1 &&newScore==1){
                location.href="/market/6";
            }
            else if(parkScore==0 && toiletScore==1 && scaleScore==1 &&newScore==1){
                location.href="/market/6";
            }
            else if(parkScore==1 && toiletScore==1 && scaleScore==1 &&newScore==1){
                location.href="/market/6";
            }

            
        }
    }

    function no(){
        if(count==0){
            document.getElementById("algorithm_title").innerHTML = "주차장이 있나요?";
            count++;
        }else if(count==1){
            document.getElementById("algorithm_title").innerHTML = "공중화장실이 있나요?";
            count++;
        }else if(count==2){
            document.getElementById("algorithm_title").innerHTML = "규모가 큰가요?";
            count++;
        }else if(count==3){
            document.getElementById("algorithm_title").innerHTML = "생긴지 얼마 안되었나요?";
            count++;
            newScore++;
        }else if(count==4){
            document.getElementById("algorithm_title").innerHTML = "추천해드릴게요!";
            count++;   
        }else if(count==5){
            console.log(count);
            console.log("parkScore" + parkScore);
            console.log("toiletScore" + toiletScore);
            console.log("scaleScore" + scaleScore);
            alert("홈으로 돌아갑니다!");
            location.href="/";
        }
    }
</script>
</html>